.authorCol {
  max-width: inherit !important;
}

.authorsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.imageOnlyAuthorRow {
  display: flex;
  flex-flow: row wrap;
}

.imageOnlyAuthorCol {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
