/.github/*
/build/*
/node_modules/*

*.log
docker-compose.yml
Dockerfile
LICENSE
makefile
README.md

# These folders will be mounted with docker-compose.yml
# No need to put it in the Docker image
/blog/*
/pages/*
/static/*