name: blog

services:
  docusaurus:
    build:
      context: .
      target: ${TARGET:-development}
      dockerfile: Dockerfile
      args:
        - APP_HOME=${APP_HOME:-/opt/docusaurus}
        - OS_USERID=${OS_USERID:-1002}
        - OS_GROUPID=${OS_GROUPID:-1002}
    user: ${OS_USERID:-1002}:${OS_GROUPID:-1002}
    image: blog-docusaurus:${TARGET:-development}
    container_name: docusaurus
    ports:
      - "443:443"
    command: sleep infinity
