name: blog

services:
  docusaurus:
    build:
      context: .
      target: ${TARGET:-development}
      dockerfile: Dockerfile
    container_name: docusaurus
    ports:
      - "443:443"

    command: sleep infinity
