# Automatically abort script on errors 
# or choose "option batch continue" to ignore errors like "file access denied" and continue the script
option batch abort

# Disable overwrite confirmations that conflict with the previous 
option confirm off 

# Connect; **change this value for your own configuration**
open ftp://USERNAME:PASSWORD@HOST_OR_IP/

# --------------------------------------------------------------------------------------------
# Synchronize the folder "C:\Christophe\" (local) to /Christophe (remote)
#        **change these values for your own configuration**
#
# Get all files / folders from the local drive and make a copy to the FTP drive.
#
# --> Copy new files / new folders
# --> Delete files / folders not anymore on local drive from the remote drive

lcd ./build/
cd /public_html

# We will push files from our local machine to the remote server only if 
# the local file is newer. So, if the file is already up-to-date on the
# remote, don't overwrite it again and again
synchronize remote

# ------------------------------------
# The end

close

exit