.blueskyLogo {
  width: 20px;
  height: 20px;
}

/* Will contains all Bluesky buttons and comments */
.blueskyContainer {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--ifm-color-emphasis-200);
}

/* The container for all Bluesky comments */
.blueskyCommentsContainer {
  border: solid 10px #f5f5f5;
  margin-top: 1rem;
  padding: 0.4rem 0.9rem;
}

/* The container for one single comment */
.blueskyCommentContainer {
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  padding: 0.8rem;
  border-radius: 6px;
  border-left: 2px solid #e0e0e0;
}

.blueskyCommentHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blueskyCommentAuthorInfos {
  display: flex;
  flex-direction: column;
}

.blueskyCommentAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.blueskyCommentAuthorDisplayName {
  margin: 0;
  font-weight: bold;
}

.blueskyCommentAuthorHandle {
  margin: 0;
  font-size: smaller;
  font-weight: normal;
  color: #555;
  display: block;
}

.blueskyCommentDate {
  margin-left: auto;
  font-size: smaller;
  color: gray;
}

.blueskyCommentText {
  margin: 0.3rem 0 0;
}

.blueskyCommentFooter {
}

.blueskyCommentLikes::before {
  content: "♡\a0";
  color: red;
}

.blueskyCommentLikes::after {
  content: " ";
}

.blueskyCommentReposts::before {
  content: "↺\a0";
}

.blueskyCommentReposts::after {
  content: " ";
}

.blueskyCommentLink::before {
  content: "→\a0";
}

.blueskyCommentLink::after {
  content: " ";
}

.blueskyCommentLink {
  margin-right: 0.25rem;
  display: inline-flex;
  align-items: center;
  color: #666;
  text-decoration: none;
  margin-top: 0.25rem;
}

img.blueskyCommentEmbedThumb {
  max-height: 250px;
}

.blueskyCommentImages {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.blueskyCommentImage {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}


.blueskyNoCommentYet {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px 0;
}

.blueskyNoCommentYetCTA {
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.blueskyButton {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #333333;
  display: inline-flex;
  font-size: 0.9rem;
  font-weight: 400;
  gap: 0.4rem;
  margin-right: 0.4rem;
  padding: 0.4rem 0.9rem;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover effect */
.blueskyButton:hover {
  background-color: #0062cc;
}
