# cspell:ignore erikvl87,langtool,ngrams

services:
  docusaurus:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - APP_HOME=${APP_HOME:-/opt/docusaurus}
        - OS_USERID=${OS_USERID:-1002}
        - OS_GROUPID=${OS_GROUPID:-1002}
    user: ${OS_USERID:-1002}:${OS_GROUPID:-1002}
    env_file:
      - .env
    volumes:
      - ..:${APP_HOME:-/opt/docusaurus}
      - node_modules:/opt/docusaurus/node_modules

  languagetool:
    image: erikvl87/languagetool
    restart: always
    environment:
      - langtool_languageModel=/ngrams
      - Java_Xms=512m
      - Java_Xmx=1g
    volumes:
      - ngrams:/ngrams

volumes:
  ngrams:
  node_modules:
