.seriesStats {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--ifm-color-emphasis-700);
}

.seriesIntro {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--ifm-font-color-secondary);
}

html[data-theme="dark"] .seriesIntro {
  color: var(--ifm-color-emphasis-600);
}
