.seriesIntro {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--ifm-font-color-secondary);
}

html[data-theme="dark"] .seriesIntro {
  color: var(--ifm-color-emphasis-600);
}
