<IfModule mod_rewrite.c>
  # This block is for all rewrite rules
  RewriteEngine On

  # Compliant with hstspreload.org: first redirect to https if needed
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Then redirect to www. when the prefix wasn't mentioned
  RewriteCond %{HTTP_HOST} !^www\.
  RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Do some permanent redirections
  RedirectPermanent /blog/docker-in-docker-dind/ https://www.avonture.be/blog/docker-out-of-docker-dood
  RedirectPermanent /blog/docker-apache-ssl https://www.avonture.be/blog/docker-localhost-ssl
  RedirectPermanent /resources https://www.avonture.be/repositories

  # Docusaurus-specific rules to handle single-page application routing
  # Note: The RewriteBase is important if your site is in a subdirectory
  RewriteBase /

  # Prevents rewriting of existing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrites all requests to index.html, allowing Docusaurus to handle routing
  RewriteRule . /index.html [L]
</IfModule>