# cspell:ignore erikvl87,langtool,ngrams

services:
  docusaurus:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - APP_HOME=${APP_HOME:-/opt/docusaurus}
        - OS_USERID=${OS_USERID:-1002}
        - OS_GROUPID=${OS_GROUPID:-1002}
    container_name: my_blog
    env_file:
      - .env
    volumes:
      - ..:${APP_HOME:-/opt/docusaurus}
      - ./history/.bash_history:/home/node/.bash_history:rw
      - node_modules:/opt/docusaurus/node_modules
      - vscode-extensions:/home/node/.vscode-server/extensions

    command: sleep infinity

  languagetool:
    image: erikvl87/languagetool
    container_name: LanguageTool
    restart: always
    ports:
      - 8010:8010
    environment:
      - langtool_languageModel=/ngrams
      - Java_Xms=512m
      - Java_Xmx=1g
    volumes:
      - ngrams:/ngrams

volumes:
  ngrams:
  node_modules:
  vscode-extensions:
