name: blog

services:
  docusaurus:
    build:
      context: .
      target: ${TARGET:-development}
      dockerfile: Dockerfile
    container_name: docusaurus
    env_file: .env
    ports:
      - "443:443"
    volumes:
      - yarn-cache:/home/node/.cache/yarn/v6
    tmpfs:
      - /opt/docusaurus/.docusaurus
    command: sleep infinity

volumes:
  yarn-cache:
