.oldPostNotice {
  background-color: var(--ifm-color-warning-contrast-background);
  color: var(--ifm-color-warning-contrast-foreground);
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid var(--ifm-color-warning-dark);
  margin-bottom: 1.5rem;
}

.oldPostNotice p {
  margin: 0;
}

.oldPostNotice strong {
  margin-right: 0.25rem;
}
